body{
    background-color: lightslategrey;
    margin: 25px;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}
h1{
    text-align: center;
}
form {
    width: fit-content;
    background-color: white;
    font-family:"Oswald";
    padding: 25px;
    border-radius: 10px;
}
button[type="submit"]{
    background-color: #4e8407;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
}
button[type="reset"]{
    background-color: #df1d23;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
}
input{
    height: 20px;
    width: 95%;
}
input[type="radio"]{
    width: 30px;
}
    
